<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="close();">&times;</button>

    <tabset class="nav-tabs-custom">
        <tab heading="附件详情">
            <div class="box no-border">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td width="30%" class="custom-label">分类:</td>
                            <td>{{attachment.category}}</td>
                        </tr>
                        <tr>
                            <td width="30%" class="custom-label">标题:</td>
                            <td>{{attachment.title}}</td>
                        </tr>
                        <tr>
                            <td width="30%" class="custom-label">创建人:</td>
                            <td>{{attachment.createdByName}}</td>
                        </tr>
                        <tr>
                            <td width="30%" class="custom-label">创建时间:</td>
                            <td>{{attachment.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                        <tr>
                            <td width="30%" class="custom-label">修改人:</td>
                            <td>{{attachment.modifiedByName}}</td>
                        </tr>
                        <tr>
                            <td width="30%" class="custom-label">最近修改时间:</td>
                            <td>{{attachment.modifiedAt | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                        <tr>
                            <td width="30%" class="custom-label">状态:</td>
                            <td>{{attachment.published ? '已发布' : '未发布'}}</td>
                        </tr>
                        <tr>
                            <td width="30%" class="custom-label">发布人:</td>
                            <td> {{attachment.publishedByName}}</td>
                        </tr>
                        <tr>
                            <td width="30%" class="custom-label">发布时间:</td>
                            <td> {{attachment.publishedAt | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>
        <tab heading="下载历史" ng-click="refreshDownloadHistories();">
            <div class="box no-border">
                <div class="box no-border">
                    <div class="box-body no-border" style="min-height: 400px;">
                        <table class="table table-striped">
                            <thead>
                            <th width="10%">下载人</th>
                            <th width="20%">下载时间</th>
                            <th width="20%">最后下载时间</th>
                            </thead>
                            <tbody>
                            <tr ng-if="histories == null || histories.length == 0">
                                <td class="text-center"
                                    colspan="3">无记录。
                                </td>
                            </tr>
                            <tr ng-repeat="item in histories">
                                <td> {{item.downloadByName}}</td>
                                <td> {{item.downloadAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                <td> {{item.downloadReadAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer no-padding no-border">
                        <div class="mailbox-controls pull-right">
                            <pagination ng-show="histories.length != 0"
                                        total-items="historiesCount"
                                        ng-model="historiesCurrentPage"
                                        ng-change="pageChanged()"
                                        class="pagination-sm"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>
