<div class="modal-header">
    <button type="button" class="close" ng-click="close()" data-dismiss="modal"
            aria-hidden="true">&times;</button>
    <h4 class="modal-title">权限查看</h4>
</div>
<div class="modal-body">
    <div class="text-center" ng-if="privileges == null || privileges.length == 0">
        无访问权限.
    </div>
    <treecontrol
            class="tree-classic"
            tree-model="privileges"
            expanded-nodes="privileges"
            options="treeOptions"
            selected-node="node1">
        {{node.name}}
    </treecontrol>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default"
            data-dismiss="modal"
            ng-click="close()">关闭
    </button>
</div>
