<div>
    <section class="content-header">
        <h1>搜索快文
            <small>{{papersListDesc}} -（总<span>{{totalElements}}</span>条）
            </small>
        </h1>
        <ol class="breadcrumb">
            支持搜索流转中的快文(不包括<a ui-sref="dashboard.paper.list({type:'draft'})">草稿</a>和<a ui-sref="dashboard.paper.list({type:'revoked'})">已撤回</a>的快文)
            <li class="has-feedback">
                <input class="form-control input-sm" type="text"
                       ng-model="searchField"
                       placeholder="请输入...">
                                            <span class="glyphicon glyphicon-search form-control-feedback"
                                                  style="top:-3px;"
                                                  ng-click="refreshList();"></span>
                     <span class="glyphicon glyphicon-search form-control-feedback"
                           style="top:-3px;"
                           ng-click="refreshList();"></span>
            </li>
            &nbsp;
            <span class="pull-right">
                 <button class="btn btn-default btn-sm"
                         ng-click="refreshList()">
                    <i class="fa fa-fw fa-refresh"></i>
                 </button>
            </span>

        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box no-border">
                    <tabset class="nav-tabs-custom">
                        <tab heading="标题" ng-click="changeTab('title')">
                            <div class="box no-border no-padding">
                                <div class="box-body no-padding no-border"
                                     style="min-height: 400px;">
                                    <div class="table-responsive mailbox-messages">
                                        <messagetable></messagetable>
                                    </div>
                                </div>
                                <div class="box-footer no-padding no-border">
                                    <div class="mailbox-controls pull-right">
                                        <pagination
                                                ng-show="messages.length > 0"
                                                total-items="totalElements"
                                                ng-model="currentPage"
                                                ng-change="pageChanged()"
                                                class="pagination-sm"></pagination>
                                    </div>
                                </div>

                            </div>

                        </tab>
                        <tab heading="发起人" ng-click="changeTab('creator')">
                            <div class="box no-border no-padding">
                                <div class="box-body no-padding no-border"
                                     style="min-height: 400px;">
                                    <div class="table-responsive mailbox-messages">
                                        <messagetable></messagetable>
                                    </div>
                                </div>
                                <div class="box-footer no-padding no-border">
                                    <div class="mailbox-controls pull-right">
                                        <pagination
                                                ng-show="messages.length > 0"
                                                total-items="totalElements"
                                                ng-model="currentPage"
                                                ng-change="pageChanged()"
                                                class="pagination-sm"></pagination>
                                    </div>
                                </div>

                            </div>
                        </tab>
                        <tab heading="接收人" ng-click="changeTab('receiver')">
                            <div class="box no-border no-padding">
                                <div class="box-body no-padding no-border"
                                     style="min-height: 400px;">
                                    <div class="table-responsive mailbox-messages">
                                        <messagetable></messagetable>
                                    </div>
                                </div>
                                <div class="box-footer no-padding no-border">
                                    <div class="mailbox-controls pull-right">
                                        <pagination
                                                ng-show="messages.length > 0"
                                                total-items="totalElements"
                                                ng-model="currentPage"
                                                ng-change="pageChanged()"
                                                class="pagination-sm"></pagination>
                                    </div>
                                </div>

                            </div>
                        </tab>
                    </tabset>


                </div>
            </div>
        </div>
    </section>
</div>
