<div class="modal-header">
    <button type="button" class="close" ng-click="close()" data-dismiss="modal"
            aria-hidden="true">&times;</button>
    <h4 class="modal-title">应用操作审计</h4>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <th style="width:20%">请求人:</th>
                <td>{{item.requestedBy}}</td>
            </tr>
            <tr>
                <th style="width:20%">请求时间:</th>
                <td>{{item.requestedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
            <tr>
                <th style="width:20%">客户端ip:</th>
                <td>{{item.clientAddress}}</td>
            </tr>
            <tr>
                <th style="width:20%">系统:</th>
                <td>{{item.userAgent }}</td>
            </tr>
            <tr>
                <th style="width:20%">HTTP方法:</th>
                <td>{{item.httpMethod}}</td>
            </tr>
            <tr>
                <th style="width:20%">请求地址:</th>
                <td>{{item.requestedUrl}}</td>
            </tr>
            <tr>
                <th style="width:20%">xForwardedFor:</th>
                <td>{{item.xForwardedFor}}</td>
            </tr>
            <tr>
                <th style="width:20%">服务:</th>
                <td>{{item.serviceName}}</td>
            </tr>
            <tr>
                <th style="width:20%">方法:</th>
                <td>{{item.methodName}}</td>
            </tr>
            <tr>
                <th style="width:20%">类型:</th>
                <td>{{item.category}}</td>
            </tr>
            <tr>
                <th style="width:20%">描述:</th>
                <td>{{item.description}}</td>
            </tr>
            <tr>
                <th style="width:20%">耗时（毫秒）:</th>
                <td>{{item.timeCost}}</td>
            </tr>
            <tr>
                <th style="width:20%">是否成功:</th>
                <td ng-class="item.error ? 'text-red' : 'text-green'">
                    {{item.error ? '失败':'成功' }}
                </td>
            </tr>
            <tr ng-if="item.error">
                <th style="width:20%">错误信息:</th>
                <td>{{item.errorMessage}}</td>
            </tr>
            <tr ng-if="item.error">
                <th style="width:20%">错误明细:</th>
                <td><textarea
                        rows="10"
                        class="form-control" readonly
                              ng-model="item.errorDetail"></textarea></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
