<div class="modal-header">
    <button type="button" class="close" ng-click="close()" data-dismiss="modal"
            aria-hidden="true">&times;</button>
    <h4 class="modal-title">短息发送记录</h4>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <th style="width:50%">电话:</th>
                <td>{{item.cellphone}}</td>
            </tr>
            <tr>
                <th style="width:50%">消息:</th>
                <td>{{item.message}}</td>
            </tr>
            <tr>
                <th style="width:50%">创建时间:</th>
                <td>{{item.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            </tr>
            <tr>
                <th style="width:50%">分类:</th>
                <td>{{item.category | enums_trans:'SmsCategory'}}</td>
            </tr>
            <tr>
                <th style="width:50%">状态:</th>
                <td ng-class="item.status == 'SENT' ? '' : 'text-red'">{{item.status | enums_trans:'SmsStatus' }}</td>
            </tr>
            <tr ng-if="item.status != 'SENT'">
                <th style="width:50%">错误信息:</th>
                <td>{{item.failureReason}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
