<div>
    <section class="content-header">
        <h1>系统内置角色权限管理</h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box no-border">
                    <tabset class="nav-tabs-custom">
                        <tab heading="内置角色" ng-click="refreshSysRoles()" style="cursor: pointer;">
                            <section class="content" style="padding: 0px;">
                                <div class="row">
                                    <div class="box-body no-padding">
                                        <div class="col-md-6">
                                            <div class="box box-primary">
                                                <div class="box-header with-border">
                                                    <div style="padding: 5px 10px;">请选择角色进行操作</div>
                                                </div>
                                                <div class="box-body no-padding box-body-md">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                        <th>编码</th>
                                                        <th>名称</th>
                                                        <th width="40"></th>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-if="sysRoles == null || sysRoles.length == 0">
                                                            <td class="text-center" colspan="3">无记录</td>
                                                        </tr>
                                                        <tr ng-repeat="sysRole in sysRoles" style="cursor: pointer;"
                                                            ng-click="getUsersByRole('sysRole',sysRole.code);">
                                                            <td>
                                                                {{sysRole.code}}
                                                            </td>
                                                            <td>
                                                                {{sysRole.name}}
                                                            </td>
                                                            <td style="text-align: center;width: 12px;">
                                                                <!--<button class="btn btn-default btn-sm"
                                                                        ng-click="getUsersByRole('sysRole',sysRole.code);">
                                                                    <i class="fa fa-chevron-right"></i>
                                                                </button>-->
                                                                <span ng-if="currentRole.roleId == sysRole.code" class="fa fa-fw fa-check" style="color: green;"></span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="box box-primary">
                                                <div class="box-header with-border">

                                                    <div class="btn-group">
                                                        <button class="btn btn-default btn-sm"
                                                                ng-click="bind()">
                                                            <i class="fa fa-plus-square-o"></i> 绑定用户
                                                        </button>
                                                        <button class="btn btn-default btn-sm"
                                                                ng-click="unbind()">
                                                            <i class="fa fa-trash-o"></i> 解绑用户
                                                        </button>
                                                    </div>
                                                    <div class="box-tools pull-right">
                                                        <div class="has-feedback">
                                                            <input class="form-control input-sm" type="text"
                                                                   ng-model="userFilter.username"
                                                                   placeholder="请输入用户名">
                                                            <span class="glyphicon glyphicon-search form-control-feedback"
                                                                  ng-click="refreshUsers()"
                                                                  style="top:-3px;"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="box-body no-padding"
                                                     ng-class="{true: 'tab-box-body', false: 'box-body-md'}[users.length > 0]">
                                                    <table id="userTable"
                                                           class="table table-hover table-striped">
                                                        <thead>
                                                        <th class="oa-index">
                                                            <input type="checkbox" class="custom-checkbox"
                                                                   ng-click="toggleAllItems()"/>
                                                        </th>
                                                        <th class="username">用户名</th>
                                                        <th class="oa-phone">联系电话</th>
                                                        <th>电子邮箱</th>
                                                        <th class="oa-status">状态</th>
                                                        </thead>
                                                        <tbody id="userTableBody">
                                                        <tr ng-if="users == null || users.length == 0">
                                                            <td class="text-center" colspan="5">无记录</td>
                                                        </tr>
                                                        <tr ng-repeat="appuser in users">
                                                            <td style="text-align: center;width: 8px;">
                                                                <input type="checkbox" class="custom-checkbox"
                                                                       ng-if="appuser.username != 'administrator'"
                                                                       ng-click="toggleCheck(appuser);"
                                                                       ng-checked="appuser.checked"/>
                                                            </td>
                                                            <td class="username">{{appuser.username}}</td>
                                                            <td class="oa-phone">{{appuser.contactPhone}}</td>
                                                            <td>{{appuser.email}}</td>
                                                            <td class="oa-status">
                                                                {{appuser.enabled?'启用':'已禁用'}}
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="box-footer no-padding" ng-show="users.length > 0" >
                                                    <div class="mailbox-controls pull-right">
                                                        <pagination total-items="userTotalElements"
                                                                    ng-model="userCurrentPage"
                                                                    ng-change="userPageChanged()"
                                                                    class="pagination-sm">
                                                        </pagination>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>
                        </tab>
                        <tab heading="菜单权限" ng-click="changeTab('SYS_ROLE')" style="cursor: pointer;">
                            <section class="content">
                                <div class="row">
                                    <div class="box-body no-padding">
                                        <div class="col-md-6">
                                            <!--
                                            <div class="box box-primary">
                                                <div class="box-body with-border">
                                                    <treecontrol
                                                            class="tree-classic"
                                                            tree-model="resources"
                                                            options="treeOptions"
                                                            on-selection="showSelected(node)"
                                                            selected-node="node1">
                                                        {{node.name}}
                                                    </treecontrol>
                                                </div>
                                            </div>
                                             -->
                                            <privilegetree onnodeselect="showSelected(node)" id="internalPrivilegeTree"/>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="box box-primary">
                                                <div class="box-header with-border">
                                                    <div class="btn-group">
                                                        <button class="btn btn-default btn-sm"
                                                                ng-click="save()"
                                                                ng-disabled="virtual">
                                                            <i class="fa fa-save"></i>
                                                            保存
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="box-body with-border box-body-md">
                                                    <div class="table-responsive mailbox-messages">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                            <th><input
                                                                    type="checkbox"
                                                                    ng-click="toggleAllSysRoles()"/>
                                                            </th>
                                                            <th>编码</th>
                                                            <th>名称</th>
                                                            <th>查看</th>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-if="sysRoles == null || sysRoles.length == 0">
                                                                <td colspan="4"
                                                                    style="text-align: center;">
                                                                    无记录.
                                                                </td>
                                                            </tr>
                                                            <tr ng-repeat="sysRole in sysRoles">
                                                                <td>
                                                                    <input type="checkbox"
                                                                           ng-click="toggleCheck(sysRole);"
                                                                           ng-checked="sysRole.checked"/>
                                                                </td>
                                                                <td>
                                                                    {{sysRole.code}}
                                                                </td>
                                                                <td>
                                                                    {{sysRole.name}}
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-default btn-xs"
                                                                            ng-click="viewPrivileges(sysRole.code)">
                                                                        &nbsp<i class="fa fa-eye"></i>&nbsp
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </section>
</div>
