<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
          name="viewport"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title th:text="${systemSetting.name} + ' - 出错了'"></title>
    <link type="text/css" rel="stylesheet"
          href="/static/lib/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/static/lib/bootstrap/dist/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet"
          href="/static/lib/font-awesome/css/font-awesome.min.css"
          th:href="@{/static/lib/font-awesome/css/font-awesome.min.css}"/>
    <link type="text/css" rel="stylesheet"
          href="/static/lib/admin-lte/dist/css/AdminLTE.min.css"
          th:href="@{/static/lib/admin-lte/dist/css/AdminLTE.min.css}"/>
    <link type="text/css" rel="stylesheet"
          href="/static/lib/admin-lte/dist/css/skins/_all-skins.min.css"
          th:href="@{/static/lib/admin-lte/dist/css/skins/_all-skins.min.css}"/>
    <link type="text/css" rel="stylesheet"
          href="/static/lib/iCheck/square/blue.css"
          th:href="@{/static/lib/iCheck/square/blue.css}"/>

    <script type="text/javascript"
            src="/static/lib/jquery/dist/jquery.min.js"
            th:src="@{/static/lib/jquery/dist/jquery.min.js}"></script>
    <script type="text/javascript"
            src="/static/lib/bootstrap/dist/js/bootstrap.min.js"
            th:src="@{/static/lib/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript"
            src="/static/lib/iCheck/icheck.min.js"
            th:src="@{/static/lib/iCheck/icheck.min.js}"></script>

    <!--[if lt IE 9]>
    <script type="text/javascript"
            src="/static/lib/html5shiv.min.js"
            th:src="@{/static/lib/html5shiv.min.js}"></script>
    <script type="text/javascript"
            src="/static/lib/respond.min.js"
            th:src="@{/static/lib/respond.min.js}"></script>
    <![endif]-->

</head>

<body class="skin-blue fixed layout-top-nav">
<header class="main-header">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <b>BBT</b><i></i>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</header>
<div class="wrapper" style="background-color: white;height: 100%;">
    <div class="container">

    </div>

    <footer class="main-footer navbar-fixed-bottom">
        <div class="container-fluid guest-about row">
            <p class="text-center">Copyright &copy; 2016 {{systemSetting.name}}</p>
        </div>
    </footer>
</div>
<script type="text/javascript">
    // put inner javascript in this fragment for content page
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>
</body>

</html>
