<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      ng-app="webapp">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
          name="viewport"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title ng-bind="systemSetting.name"></title>
    <link href="/static/favicon.ico" mce_href="/static/favicon.ico" rel="bookmark" type="image/x-icon"/>
    <link href="/static/favicon.ico" mce_href="/static/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/static/favicon.ico" mce_href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

    <link type="text/css" rel="stylesheet"
          href="/static/lib/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/static/lib/bootstrap/dist/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet"
          href="/static/lib/font-awesome/css/font-awesome.min.css"
          th:href="@{/static/lib/font-awesome/css/font-awesome.min.css}"/>
    <link type="text/css" rel="stylesheet"
          href="/static/lib/admin-lte/plugins/datepicker/datepicker3.css"
          th:href="@{/static/lib/admin-lte/plugins/datepicker/datepicker3.css}"/>
    <link type="text/css" rel="stylesheet"
          href="/static/lib/admin-lte/dist/css/AdminLTE.min.css"
          th:href="@{/static/lib/admin-lte/dist/css/AdminLTE.min.css}"/>
    <link type="text/css" rel="stylesheet"
          href="/static/lib/admin-lte/dist/css/skins/_all-skins.min.css"
          th:href="@{/static/lib/admin-lte/dist/css/skins/_all-skins.min.css}"/>
    <link type="text/css" rel="stylesheet"
          href="/static/lib/iCheck/flat/red.css"
          th:href="@{/static/lib/iCheck/flat/red.css}"/>
    <link type="text/css" rel="stylesheet"
          href="/static/lib/jquery-ui/themes/smoothness/jquery-ui.min.css"
          th:href="@{/static/lib/jquery-ui/themes/smoothness/jquery-ui.min.css}"/>
    <link type="text/css" rel="stylesheet"
          href="/static/lib/toastr/toastr.min.css"
          th:href="@{/static/lib/toastr/toastr.min.css}"/>
    <link type="text/css" rel="stylesheet"
          href="/static/lib/ng-ckeditor/ng-ckeditor.css"
          th:href="@{/static/lib/ng-ckeditor/ng-ckeditor.css}"/>

    <link type="text/css" rel="stylesheet"
          href="/static/lib/jstree/themes/default/style.min.css"
          th:href="@{/static/lib/jstree/themes/default/style.min.css}"/>

    <link type="text/css" rel="stylesheet"
          href="/static/lib/angular-tree-control/css/tree-control.css"
          th:href="@{/static/lib/angular-tree-control/css/tree-control.css}"/>
    <link type="text/css" rel="stylesheet"
          href="/static/lib/angular-tree-control/css/tree-control-attribute.css"
          th:href="@{/static/lib/angular-tree-control/css/tree-control-attribute.css}"/>

    <link type="text/css" rel="stylesheet"
          href="/static/lib/angular-print/angularPrint.css"
          th:href="@{/static/lib/angular-print/angularPrint.css}"/>

    <link type="text/css" rel="stylesheet"
          href="/static/css/custom.css"
          th:href="@{/static/css/custom.css}"/>

</head>

<body ng-class="oaBodyClass" data-spy="scroll" data-target="#scrollspy">
<div class="wrapper" ui-view=""></div>

<script type="text/javascript"
        src="/static/lib/jquery/dist/jquery.min.js"
        th:src="@{/static/lib/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript"
        src="/static/lib/bootstrap/dist/js/bootstrap.min.js"
        th:src="@{/static/lib/bootstrap/dist/js/bootstrap.min.js}"></script>
<script type="text/javascript"
        src="/static/lib/iCheck/icheck.min.js"
        th:src="@{/static/lib/iCheck/icheck.min.js}"></script>
<script type="text/javascript"
        src="/static/lib/slimScroll/jquery.slimscroll.min.js"
        th:src="@{/static/lib/slimScroll/jquery.slimscroll.min.js}"></script>

<script type="text/javascript"
        src="/static/lib/toastr/toastr.min.js"
        th:src="@{/static/lib/toastr/toastr.min.js}"></script>

<script type="text/javascript"
        src="/static/lib/jstree/jstree.min.js"
        th:src="@{/static/lib/jstree/jstree.min.js}"></script>

<script type="text/javascript" src="/static/lib/angular/angular.min.js"
        th:src="@{/static/lib/angular/angular.min.js}"></script>
<script type="text/javascript" src="/static/lib/angular-sanitize/angular-sanitize.min.js"
        th:src="@{/static/lib/angular-sanitize/angular-sanitize.min.js}"></script>
<script type="text/javascript" src="/static/lib/angular-animate/angular-animate.min.js"
        th:src="@{/static/lib/angular-animate/angular-animate.min.js}"></script>
<!--<script  type="text/javascript" src="/static/lib/angular-ui-utils/ui-utils.js"-->
<!--th:src="@{/static/lib/angular-ui-utils/ui-utils.js}"></script>-->
<script type="text/javascript" src="/static/lib/angular-bootstrap/ui-bootstrap.min.js"
        th:src="@{/static/lib/angular-bootstrap/ui-bootstrap.min.js}"></script>
<script type="text/javascript" src="/static/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"
        th:src="@{/static/lib/angular-bootstrap/ui-bootstrap-tpls.min.js}"></script>
<script type="text/javascript" src="/static/lib/angular-ui-router/release/angular-ui-router.min.js"
        th:src="@{/static/lib/angular-ui-router/release/angular-ui-router.min.js}"></script>
<script type="text/javascript" src="/static/lib/angular-ui-event/dist/event.min.js"
        th:src="@{/static/lib/angular-ui-event/dist/event.min.js}"></script>
<script type="text/javascript" src="/static/lib/angular-dialog/dialogs.min.js"
        th:src="@{/static/lib/angular-dialog/dialogs.min.js}"></script>
<!--<script type="text/javascript" src="/static/lib/angular-dialog/dialogs-default-translations.min.js"-->
<!--th:src="@{/static/lib/angular-dialog/dialogs-default-translations.min.js}"></script>-->
<script type="text/javascript" src="/static/lib/angular-validation/dist/angular-validation.min.js"
        th:src="@{/static/lib/angular-validation/dist/angular-validation.min.js}"></script>
<script type="text/javascript" src="/static/lib/angular-notys/angular-notys.js"
        th:src="@{/static/lib/angular-notys/angular-notys.js}"></script>

<!-- CK Editor -->
<script type="text/javascript" src="/static/lib/ckeditor/ckeditor.js"
        th:src="@{/static/lib/ckeditor/ckeditor.js}"></script>
<script type="text/javascript" src="/static/lib/ng-ckeditor/ng-ckeditor.js"
        th:src="@{/static/lib/ng-ckeditor/ng-ckeditor.js}"></script>


<script type="text/javascript"
        src="/static/lib/admin-lte/plugins/datepicker/bootstrap-datepicker.js"
        th:src="@{/static/lib/admin-lte/plugins/datepicker/bootstrap-datepicker.js}"></script>
<script type="text/javascript"
        src="/static/lib/admin-lte/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"
        th:src="@{/static/lib/admin-lte/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js}"></script>

<!-- Uploader -->
<script type="text/javascript"
        src="/static/lib/angular-ui-uploader/dist/uploader.min.js"
        th:src="@{/static/lib/angular-ui-uploader/dist/uploader.js}"></script>

<!-- tree -->
<script type="text/javascript"
        src="/static/lib/angular-tree-control/angular-tree-control.js"
        th:src="@{/static/lib/angular-tree-control/angular-tree-control.js}"></script>

<!-- print -->
<script type="text/javascript"
        src="/static/lib/angular-print/angularPrint.js"
        th:src="@{/static/lib/angular-print/angularPrint.js}"></script>

<!--breadcrumbs-->
<script type="text/javascript"
        src="/static/lib/angular-breadcrumb/dist/angular-breadcrumb.min.js"
        th:src="@{/static/lib/angular-breadcrumb/dist/angular-breadcrumb.min.js}"></script>

<!--clipboard-->
<script type="text/javascript"
        src="/static/lib/angular-clipboard/angular-clipboard.js"
        th:src="@{/static/lib/angular-clipboard/angular-clipboard.js}"></script>


<!--[if lt IE 9]>
<script type="text/javascript"
        src="/static/lib/html5shiv.min.js"
        th:src="@{/static/lib/html5shiv.min.js}"></script>
<script type="text/javascript"
        src="/static/lib/respond.min.js"
        th:src="@{/static/lib/respond.min.js}"></script>
<![endif]-->


<script type="text/javascript"
        src="/static/app/app.module.js"
        th:src="@{/static/app/app.module.js}"></script>
<script type="text/javascript"
        src="/static/app/app.config.js"
        th:src="@{/static/app/app.config.js}"></script>
<script type="text/javascript"
        src="/static/app/app.filters.js"
        th:src="@{/static/app/app.filters.js}"></script>
<script type="text/javascript"
        src="/static/app/app.routes.js"
        th:src="@{/static/app/app.routes.js}"></script>
<script type="text/javascript"
        src="/static/app/app.directives.js"
        th:src="@{/static/app/app.directives.js}"></script>

<script type="text/javascript"
        src="/static/app/common/main.js"
        th:src="@{/static/app/common/main.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/dashboard.js"
        th:src="@{/static/app/dashboard/dashboard.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/appuser/appuser.js"
        th:src="@{/static/app/dashboard/appuser/appuser.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/attachment/attachment.js"
        th:src="@{/static/app/dashboard/attachment/attachment.js}"></script>

<script type="text/javascript"
        src="/static/app/shared/preference/preference.js"
        th:src="@{/static/app/shared/preference/preference.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/sysuser/sysuser.js"
        th:src="@{/static/app/dashboard/sysuser/sysuser.js}"></script>

<!-- Role & Permission -->
<script type="text/javascript"
        src="/static/app/dashboard/role/role.js"
        th:src="@{/static/app/dashboard/role/role.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/privilege/privilege.tree.directive.js"
        th:src="@{/static/app/dashboard/privilege/privilege.tree.directive.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/privilege/privilege.js"
        th:src="@{/static/app/dashboard/privilege/privilege.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/buildinRole/buildinRole.js"
        th:src="@{/static/app/dashboard/buildinRole/buildinRole.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/customRole/customRole.js"
        th:src="@{/static/app/dashboard/customRole/customRole.js}"></script>
<!-- Role & Permission -->

<script type="text/javascript"
        src="/static/app/dashboard/message/message.js"
        th:src="@{/static/app/dashboard/message/message.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/smsHistory/smsHistory.js"
        th:src="@{/static/app/dashboard/smsHistory/smsHistory.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/sysAuditEvent/sysAuditEvent.js"
        th:src="@{/static/app/dashboard/sysAuditEvent/sysAuditEvent.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/sysAuthEvent/sysAuthEvent.js"
        th:src="@{/static/app/dashboard/sysAuthEvent/sysAuthEvent.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/appAuditEvent/appAuditEvent.js"
        th:src="@{/static/app/dashboard/appAuditEvent/appAuditEvent.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/appAuthEvent/appAuthEvent.js"
        th:src="@{/static/app/dashboard/appAuthEvent/appAuthEvent.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/systemSetting/systemSetting.js"
        th:src="@{/static/app/dashboard/systemSetting/systemSetting.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/archiveduser/archiveduser.js"
        th:src="@{/static/app/dashboard/archiveduser/archiveduser.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/contacts/contacts.orgtree.directive.js"
        th:src="@{/static/app/dashboard/contacts/contacts.orgtree.directive.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/contacts/contacts.js"
        th:src="@{/static/app/dashboard/contacts/contacts.js}"></script>
<script type="text/javascript"
        src="/static/app/dashboard/contacts/select.orguser.js"
        th:src="@{/static/app/dashboard/contacts/select.orguser.js}"></script>
<script type="text/javascript"
        src="/static/app/dashboard/contacts/select.user.js"
        th:src="@{/static/app/dashboard/contacts/select.user.js}"></script>

<script type="text/javascript"
        src="/static/app/dashboard/contacts/contacts.orgtree.js"
        th:src="@{/static/app/dashboard/contacts/contacts.orgtree.js}"></script>
<script type="text/javascript"
        src="/static/app/dashboard/contacts/contacts.list.js"
        th:src="@{/static/app/dashboard/contacts/contacts.list.js}"></script>
<script type="text/javascript"
        src="/static/app/dashboard/contacts/contacts.general.js"
        th:src="@{/static/app/dashboard/contacts/contacts.general.js}"></script>

<script type="text/javascript"
        src="/static/lib/admin-lte/dist/js/app.js"
        th:src="@{/static/lib/admin-lte/dist/js/app.js}"></script>
</body>
</html>
