<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <!-- Status bar styles -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <title th:text="${systemSetting.name} + ' - 登录'"></title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/favicon.ico"/>
    <link href="/static/favicon.ico" mce_href="/static/favicon.ico" rel="bookmark" type="image/x-icon"/>
    <link href="/static/favicon.ico" mce_href="/static/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/static/favicon.ico" mce_href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

    <link type="text/css" rel="stylesheet"
          href="/static/css/login.css" media="screen"
          th:href="@{/static/css/login.css}"/>
    <link type="text/css" rel="stylesheet"
          href="/static/lib/font-awesome/css/font-awesome.min.css"
          th:href="@{/static/lib/font-awesome/css/font-awesome.min.css}"/>

    <script type="text/javascript"
            src="/static/lib/jquery/dist/jquery.min.js"
            th:src="@{/static/lib/jquery/dist/jquery.min.js}"></script>

</head>

<body class='sign'>
<div id='web'>
    <div class='login-box'>
        <div class='login-header'>
            <a class='block' data-turbolinks='false' href='/' th:text="'Welcome to '+ ${systemSetting.name}">
            </a>
            <h6>&nbsp;</h6>
            <ul class='tab'>
                <li class='active' id='signin'>
                    <a class='btn btn-link' href='##'>用户登录</a>
                </li>
            </ul>
        </div>
        <div id='signin-box'>
            <form action="login" accept-charset="UTF-8" method="post">
                <div class='login-body'>

                    <div class='form-group form-group-icon'>
                        <input class='input-lg form-input email' name="username" id="username" placeholder='用户名'/>
                        <div class='form-icon'>
                            <i class='fa fa-envelope'></i>
                        </div>
                    </div>
                    <div class='form-group form-group-icon'>
                        <input class='input-lg form-input password' name="password" id="password" placeholder='密码'
                               type='password'/>
                        <div class='form-icon'>
                            <i class='fa fa-lock'></i>
                        </div>
                    </div>
                    <div class='form-group'>
                        <button class='btn btn-primary btn-block btn-lg submit' type="button" onclick="login();">
                            登录
                        </button>
                    </div>

                    <div class='divider'></div>

                </div>
                <div class='login-footer'>
                    <p class='forgot-password'>
                        <input type="checkbox" id="remember-me" name="remember-me"/> 记住我
                    </p>
                    <p class='forgot-password' style="color:red;"
                       th:if="${(param.error != null) and (param.error[0] == 'true')}">
                        用户名或密码错误!
                    </p>
                    <div class='divider'></div>
                </div>
            </form>
        </div>

    </div>

</div>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    function login() {
        $('#loginError').hide();
        $('#errorMessage').hide();
        if (!$('#username').val()) {
            $('#errorMessage').text('请输入用户名!');
            $('#errorMessage').show();
            return;
        }
        if (!$('#password').val()) {
            $('#errorMessage').text('请输入密码!');
            $('#errorMessage').show();
            return;
        }
        setSubmitUrl($('form')[0]);
        $('form').submit();
    }

    function setSubmitUrl(form) {
        var action = form.action;
        var hash = self.document.location.hash;
        if (hash) {
            var anchorStr = unescape(hash.substring(1));
            action = action + "?spring-security-redirect=" + anchorStr;
        }
        form.action = action;
        return true;
    }
    $(function(){
        $('#password').keydown(function(e){
            if(e.keyCode==13){
              login();
            }
        });
    });
    /*]]>*/

</script>


</body>

</html>
