<div class="modal-header">
    <button type="button" class="close" ng-click="close()" data-dismiss="modal"
            aria-hidden="true">&times;</button>
    <h4 class="modal-title">系统登录审计</h4>
</div>
<div class="modal-body">
    <div class="table-responsive">
        <table class="table">
            <tbody>
            <tr>
                <th style="width:50%">osFamily:</th>
                <td>{{item.osFamily}}</td>
            </tr>
            <tr>
                <th style="width:50%">浏览器:</th>
                <td>{{item.browser}}</td>
            </tr>
            <tr>
                <th style="width:50%">操作系统:</th>
                <td>{{item.userAgent}}</td>
            </tr>
            <tr>
                <th style="width:50%">登录人:</th>
                <td>{{item.username}}</td>
            </tr>
            <tr>
                <th style="width:50%">登录时间:</th>
                <td>{{item.loginAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
            <tr>
                <th style="width:50%">登录类型:</th>
                <td>{{item.authType}}</td>
            </tr>
            <tr>
                <th style="width:50%">IP地址:</th>
                <td>{{item.ipAddress}}</td>
            </tr>
            <tr>
                <th style="width:50%">是否成功:</th>
                <td ng-class="item.succeed ? '' : 'text-red'">{{item.succeed ? '成功':'失败' }}</td>
            </tr>
            <tr ng-if="!item.succeed">
                <th style="width:50%">错误信息:</th>
                <td>{{item.failureReason}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
