<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" id="scrollspy">
        <div class="user-panel">
            <div class="pull-left image">
                <img ng-if="currentUser.avatarId"
                     ng-src="{{currentUser.avatarId | escape}}"
                     class="img-circle"/>
                <img ng-if="!currentUser.avatarId"
                     src="/asserts/lib/admin-lte/img/avatar5.png"
                     class="img-circle"/>
            </div>
            <div class="pull-left info">
                <p>{{currentUser.username}}</p>
                <a href="javascript:void(0);">
                    <i class="fa fa-circle text-success"></i>
                    在线
                </a>
            </div>
        </div>
        <div class="sidebar-form">
            <div class="input-group">
                <input class="form-control" type="text"
                       ng-keyup="quickSearchKeyup($event)"
                       ng-model="quickSearchField" placeholder="快速查询...">
                <span class="input-group-btn">
                <button id="search-btn" class="btn btn-flat" name="search"
                        ng-click="quickSearch();">
                <i class="fa fa-search"></i>
                </button>
                </span>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="nav sidebar-menu">
            <li ui-sref-active="active" ng-repeat="menu in grantedDashboardMenus" ng-click="showTab(-1);"
                ng-class="menu.children ? 'treeview':''">
                <a ng-if="!menu.children"
                   ui-sref="{{menu.expression.split('state:').length > 0 ? menu.expression.split('state:')[1]:''}}">
                    <i ng-class="menu.metadata.icon"></i>
                    <span>{{menu.name}}</span>
                </a>

                <a ng-if="menu.children">
                    <i ng-class="menu.metadata.icon"></i> <span>{{menu.name}}</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul ng-if="menu.children" class="treeview-menu">
                    <li ui-sref-active="active" ng-repeat="child in menu.children" ng-click="showTab(-1);">
                        <a ui-sref="{{child.expression.split('state:').length > 0 ? child.expression.split('state:')[1]:''}}">
                            <i class="fa fa-circle-o"></i> <span>{{child.name}}</span>
                            <span ng-if="child.code == 'paper.pending'" class="label bg-green pull-right">{{processingCount}}</span>
                            <!--<span ng-if="child.code == 'paper.all'" class="label label-primary pull-right">{{allCount}}</span>-->
                            <!--<span ng-if="child.code == 'paper.mine'" class="label bg-yellow pull-right">{{draftMineCount}}</span>-->
                            <!--<span ng-if="child.code == 'paper.draft'" class="label bg-orange pull-right">{{draftCount}}</span>-->
                            <!--<span ng-if="child.code == 'paper.revoked'" class="label bg-gray pull-right">{{revokedCount}}</span>-->
                            <!--<span ng-if="child.code == 'paper.favorite'" class="label bg-purple pull-right">{{favoriteCount}}</span>-->
                        </a>
                    </li>
                </ul>
            </li>


            <!--<li ng-if="isGrantedMenu('my-portal')">-->
            <!--<a ui-sref="home.index">-->
            <!--<i class="fa fa-leaf"></i>-->
            <!--<span>我的门户</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<a ui-sref="dashboard.paper.list({type:'all'})">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="fa fa-stack-exchange"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;<span>我的快文</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--</li>-->
            <!--<li class="treeview">-->
            <!--<a>-->
            <!--<i class="fa fa-stack-exchange"></i> <span>我的快文</span>-->
            <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</a>-->
            <!--<ul class="treeview-menu">-->
            <!--<li ng-if="isGrantedMenu('paper.pending')">-->
            <!--<a ui-sref="dashboard.paper.list({type:'processing'})">-->
            <!--<i class="fa fa-circle-o"></i> <span>待处理</span>-->
            <!--<span class="label bg-green pull-right">{{processingCount}}</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ng-if="isGrantedMenu('paper.all')">-->
            <!--<a ui-sref="dashboard.paper.list({type:'all'})">-->
            <!--<i class="fa fa-circle-o"></i> <span>全部</span>-->
            <!--<span class="label label-primary pull-right">{{allCount}}</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ng-if="isGrantedMenu('paper.mine')">-->
            <!--<a ui-sref="dashboard.paper.list({type:'draft-mine'})">-->
            <!--<i class="fa fa-circle-o"></i> <span>我起草的</span>-->
            <!--<span class="label bg-yellow pull-right">{{draftMineCount}}</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ng-if="isGrantedMenu('paper.draft')">-->
            <!--<a ui-sref="dashboard.paper.list({type:'draft'})">-->
            <!--<i class="fa fa-circle-o"></i> <span>草稿</span>-->
            <!--<span class="label bg-orange pull-right">{{draftCount}}</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ng-if="isGrantedMenu('paper.revoked')">-->
            <!--<a ui-sref="dashboard.paper.list({type:'revoked'})">-->
            <!--<i class="fa fa-circle-o"></i> <span>撤回</span>-->
            <!--<span class="label bg-gray pull-right">{{revokedCount}}</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ng-if="isGrantedMenu('paper.favorite')">-->
            <!--<a ui-sref="dashboard.paper.list({type:'favorite'})">-->
            <!--<i class="fa fa-circle-o"></i> <span>收藏夹</span>-->
            <!--<span class="label bg-purple pull-right">{{favoriteCount}}</span>-->
            <!--</a>-->
            <!--</li>-->

            <!--</ul>-->
            <!--</li>-->
            <!--<li ng-if="isGrantedMenu('news')">-->
            <!--<a ui-sref="dashboard.news.list">-->
            <!--<i class="fa fa-rss"></i>-->
            <!--<span>新闻管理</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ng-if="isGrantedMenu('notification')">-->
            <!--<a ui-sref="dashboard.notification.list">-->
            <!--<i class="fa fa-quote-left"></i>-->
            <!--<span>通知管理</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ng-if="isGrantedMenu('attachment')">-->
            <!--<a ui-sref="dashboard.attachment.list">-->
            <!--<i class="fa fa-download"></i>-->
            <!--<span>下载管理</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ng-if="isGrantedMenu('contact')">-->
            <!--<a ui-sref="dashboard.contacts.orgtree">-->
            <!--<i class="fa fa-phone"></i>-->
            <!--<span>我的通讯录</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ng-if="isGrantedMenu('organization')">-->
            <!--<a ui-sref="dashboard.organization.index">-->
            <!--<i class="fa fa-sitemap"></i>-->
            <!--<span>组织机构管理</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="treeview">-->
            <!--<a href="##">-->
            <!--<i class="fa fa-gear"></i> <span>系统管理</span>-->
            <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--</a>-->
            <!--<ul class="treeview-menu">-->
            <!--<li ng-if="isGrantedMenu('system.sysuser')">-->
            <!--<a ui-sref="dashboard.sysuser.list">-->
            <!--<i class="fa fa-circle-o"></i> <span>系统用户</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ng-if="isGrantedMenu('system.role')">-->
            <!--<a ui-sref="dashboard.role.list">-->
            <!--<i class="fa fa-circle-o"></i> <span>角色管理</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ng-if="isGrantedMenu('system.permission')">-->
            <!--<a ui-sref="dashboard.privilege.list">-->
            <!--<i class="fa fa-circle-o"></i> <span>权限管理</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ng-if="isGrantedMenu('system.paper')">-->
            <!--<a ui-sref="dashboard.paper.libList({type:'libList'})">-->
            <!--<i class="fa fa-circle-o"></i> <span>快文库</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ng-if="isGrantedMenu('system.sms')">-->
            <!--<a ui-sref="dashboard.smsHistory.list">-->
            <!--<i class="fa fa-circle-o"></i> <span>短信发送记录</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li ng-if="isGrantedMenu('system.audit')">-->
            <!--<a ui-sref="dashboard.audit.list">-->
            <!--<i class="fa fa-circle-o"></i> <span>操作审计</span>-->
            <!--</a>-->
            <!--</li>-->

            <!--<li ng-if="isGrantedMenu('system.setting')">-->
            <!--<a ui-sref="dashboard.systemSetting.detail">-->
            <!--<i class="fa fa-circle-o"></i> <span>系统参数</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
