<section class="content" style="padding: 0px;">
    <div class="row">
        <div class="col-md-4">
            <orgtree onnodeselect="onNodeSelect(orgId)" readonly="true"/>
        </div>

        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div style="padding: 5px 10px;">&nbsp;</div>
                    <div class="box-tools pull-right" style="margin-right: 50px;">
                        <div class="has-feedback">
                            <input class="form-control input-sm" type="text"
                                   ng-model="filter.username"
                                   ng-keyup="onFilterKeyup($event)"
                                   placeholder="请输入用户名">
                                <span class="glyphicon glyphicon-search form-control-feedback"
                                      ng-click="getUsers()"
                                      style="top:-3px;"></span>
                        </div>
                    </div>
                    <div class="box-tools pull-right">
                        <button class="btn btn-default btn-sm"
                                ng-click="getUsers()">
                            <i class="fa fa-fw fa-refresh"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding"
                     ng-class="{true: 'tab-box-body', false: 'box-body-md'}[totalItems > 0]">
                    <table id="userTable"
                           class="table table-hover table-striped">
                        <thead>
                        <th class="account-name">用户名</th>
                        <th class="oa-phone">联系电话</th>
                        <th>电子邮箱</th>
                        </thead>
                        <tbody id="userTableBody">
                        <tr ng-if="appusers == null || appusers.length == 0">
                            <td class="text-center" colspan="3">无记录</td>
                        </tr>
                        <tr ng-repeat="appuser in appusers">
                            <td class="account-name">
                                <a style="cursor:pointer" ng-click="showDetail(appuser);">
                                    {{appuser.username}}
                                    <span ng-if="appuser.position">({{appuser.position}})</span>
                                </a>
                                <span ng-if="appuser.enabled" class="fa fa-fw fa-check-circle-o" style="color: blue; "></span>
                                <span ng-if="!appuser.enabled" class="fa fa-fw fa-ban" style="color: grey;"></span>
                            </td>
                            <td class="oa-phone">{{appuser.contactPhone}}</td>
                            <td>{{appuser.email}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer no-padding" ng-show="totalItems > 0">
                    <div class="mailbox-controls pull-right">
                        <pagination ng-show="appusers.length > 0"
                                    total-items="totalItems"
                                    ng-model="currentPage"
                                    ng-change="pageChanged()"
                                    items-per-page="10"
                                    class="pagination-sm">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
