
<!-- Main content -->
<section class="content" style="padding: 0px;">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <button class="btn btn-default btn-sm" ng-click="toggleAdvancedSearch()">
                        <i class="fa fa-search-plus"></i>
                        高级查询
                    </button>

                    <div class="box-tools pull-right" ng-show="!advancedSearch" style="margin-right: 50px;">
                        <div class="has-feedback" >
                            <input class="form-control input-sm" type="text"
                                   ng-model="filter.username"
                                   ng-keyup="onFilterKeyup($event)"
                                   placeholder="请输入用户名">
                            <span class="glyphicon glyphicon-search form-control-feedback"
                                  style="top:-3px;" ng-click="getUsers();"></span>
                        </div>
                    </div>
                    <div class="box-tools pull-right">
                        <button class="btn btn-default btn-sm"
                                ng-click="getUsers()">
                            <i class="fa fa-fw fa-refresh"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body"
                     ng-class="{true: 'tab-box-body', false: 'box-body-md'}[totalItems > 0]">
                    <div class="mailbox-controls" ng-show="advancedSearch">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10 text-center">
                                <div class="row">
                                    <div class="col-md-3 form-group"><input
                                            class="form-control input-sm"
                                            type="text"
                                            ng-model="filter.username"
                                            placeholder="请输入用户名"></div>
                                    <div class="col-md-3 form-group"><input
                                            class="form-control input-sm"
                                            type="text"
                                            ng-model="filter.position"
                                            placeholder="请输入职位"></div>
                                    <div class="col-md-3 form-group"><input
                                            class="form-control input-sm"
                                            type="text"
                                            ng-model="filter.contactPhone"
                                            placeholder="请输入联系电话"></div>
                                    <div class="col-md-3 form-group"><input
                                            class="form-control input-sm"
                                            type="text"
                                            ng-model="filter.email"
                                            placeholder="请输入邮箱"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-10 text-center">
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-4 form-group">
                                        <button class="btn btn-default btn-sm"
                                                ng-click="getUsers()">
                                            <i class="fa fa-search"></i>
                                            查询
                                        </button>
                                        <button class="btn btn-default btn-sm"
                                                ng-click="resetFilters()">
                                            <i class="fa fa-reply"></i>
                                            重置
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th class="account-name">联系人</th>
                                <th class="oa-phone">联系电话</th>
                                <th class="oa-phone">办公电话</th>
                                <th width="60">短号码</th>
                                <th>邮箱</th>
                                <th>部门</th>
                            </thead>
                            <tbody>
                            <tr ng-if="appusers == null || appusers.length == 0">
                                <td class="text-center" colspan="6">无记录</td>
                            </tr>
                            <tr ng-repeat="appuser in appusers">
                                <td class="account-name">
                                    <a style="cursor:pointer" ng-click="showDetail(appuser);">
                                        {{appuser.username}}
                                        <span ng-if="appuser.position">({{appuser.position}})</span>
                                    </a>
                                    <span ng-if="appuser.enabled" class="fa fa-fw fa-check-circle-o" style="color: blue; "></span>
                                    <span ng-if="!appuser.enabled" class="fa fa-fw fa-ban" style="color: grey;"></span>
                                </td>
                                <td class="oa-phone">{{appuser.contactPhone}}</td>
                                <td class="oa-phone">{{appuser.officePhone}}</td>
                                <td>{{appuser.extensionNumber}}</td>
                                <td>{{appuser.email}}</td>
                                <td>{{spliceOrganizationNames(appuser.organizations)}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer no-padding" ng-show="totalItems > 0">
                    <div class="mailbox-controls pull-right">
                        <pagination ng-show="appusers.length > 0"
                                    total-items="totalItems"
                                    ng-model="currentPage"
                                    ng-change="pageChanged()"
                                    class="pagination-sm"></pagination>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
