<div class="modal-header" style="padding: 8px;">
    <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">人员选择</h4>
</div>
<div class="modal-body" style="padding: 8px;">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div style="padding: 5px 10px;">&nbsp;</div>
                    <div class="box-tools pull-right" style="margin-right: 50px;">
                        <div class="has-feedback">
                            <input class="form-control input-sm" type="text"
                                   ng-model="filter.username"
                                   ng-keyup="onFilterKeyup($event)"
                                   placeholder="请输入用户名">
                            <span class="glyphicon glyphicon-search form-control-feedback"
                                  ng-click="getUsers()"
                                  style="top:-3px;"></span>
                        </div>
                    </div>
                    <div class="box-tools pull-right">
                        <button class="btn btn-default btn-sm"
                                ng-click="getUsers()">
                            <i class="fa fa-fw fa-refresh"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding tab-box-body"
                     ng-class="{true: 'tab-box-body', false: 'box-body-md'}[appusers.length > 0]">
                    <table id="userTable"
                           class="table table-hover table-striped">
                        <thead>
                        <th class="handler">
                            <input type="checkbox" style="width: 15px; height: 15px;"
                                   ng-model="hasUserChecked"
                                   ng-disabled="appusers == null || appusers.length == 0"
                                   ng-click="selectAllClick()"/>
                        </th>
                        <th class="account-name">联系人</th>
                        <th class="oa-phone">联系电话</th>
                        <th>电子邮箱</th>
                        </thead>
                        <tbody id="userTableBody">
                        <tr ng-if="appusers == null || appusers.length == 0">
                            <td class="text-center" colspan="4">无记录</td>
                        </tr>
                        <tr ng-repeat="appuser in appusers">
                            <td class="handler">
                                <input type="checkbox" style="width: 15px; height: 15px;"
                                       ng-model="appuser.checked"/>
                            </td>
                            <td class="account-name">
                                {{appuser.username}}
                                <span ng-if="appuser.position">({{appuser.position}})</span>
                                <span ng-if="appuser.enabled" class="fa fa-fw fa-check-circle-o" style="color: blue; "></span>
                                <span ng-if="!appuser.enabled" class="fa fa-fw fa-ban" style="color: grey;"></span>
                            </td>
                            <td class="oa-phone">{{appuser.contactPhone}}</td>
                            <td>{{appuser.email}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer no-padding" ng-show="appusers.length > 0">
                    <div class="mailbox-controls pull-right">
                        <pagination
                                total-items="totalItems"
                                ng-model="currentPage"
                                ng-change="pageChanged()"
                                class="pagination-sm">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="margin-top: 0px; padding: 8px 20px 8px;">
    <button type="button" id="detailSaveBtn" class="btn btn-primary" ng-click="confirm()">确定</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">取消</button>
</div>
